PORT = 
MONGO_URL =

LOG_LEVEL =

JWT_ACCESS_EXPIRE_TIME = 
JWT_ACCESS_SECRET_KEY = 

JWT_REFRESH_EXPIRE_TIME = 
JWT_REFRESH_SECRET_KEY = 

SHOULD_INIT = 
PASSWORD =

EMAIL_HOST =
EMAIL_AUTH_USER =
EMAIL_AUTH_PASS =
EMAIL_PREVIEW =